external.rotation: same-same
method: username none

client pass {
        from: 17.28.25.14/27 to: 0.0.0.0/0
        log: error # connect disconnect
}
client pass {
        from: 11.80.33.20/29 to: 0.0.0.0/0
        log: error # connect disconnect
}
client pass {
        from: 58.23.30.16/28 to: 0.0.0.0/0
        log: error # connect disconnect
}
client block {
        from: 0.0.0.0/0 to: 0.0.0.0/0
        log: connect error
}
pass {
        from: 17.28.25.14/27 to: 0.0.0.0/0
        protocol: tcp udp
}
pass {
        from: 11.80.33.20/29 to: 0.0.0.0/0
        protocol: tcp udp
}
pass {
        from: 58.23.30.16/28 to: 0.0.0.0/0
        protocol: tcp udp
}
block {
        from: 0.0.0.0/0 to: 0.0.0.0/0
        log: connect error
}

